* {
    font-family: "Rimouski";
}

body {
    background-color: #293251;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.banner {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
    background-color: #555;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

@keyframes marquee {
    0% { text-indent: 100%; }
    100% { text-indent: -100%; }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

section {
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purple-box {
    background-color: rgba(128, 0, 128, 0.5);
    flex: 1 1 33%;
    margin: 0.5rem;
}

.green-box {
    background-color: rgba(0, 128, 0, 0.5);
    flex: 1 1 34%;
    font-size: 2.5rem; /* Larger text size for the schedule */
    margin: 0.5rem;
}

.orange-box {
    background-color: rgba(255, 165, 0, 0.5);
    flex: 1 1 33%;
    margin: 0.5rem;
}

.weather-container, .weather-icon, .temperature-value, .temperature-description, .location, #dailySchedule, iframe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.temperature-value p {
    font-size: 2rem;
}

.temperature-description p, .location p {
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    section {
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }
}
