body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
}

#weather {
    background-color: #ffebee; /* Pastel Red */
    border: 2px solid #ffcdd2;
}

#schedule {
    background-color: #e3f2fd; /* Pastel Blue */
    border: 2px solid #bbdefb;
}

#google-calendar {
    background-color: #e8f5e9; /* Pastel Green */
    border: 2px solid #c8e6c9;
}

h2 {
    color: #333;
}

#weatherDetails, #dailySchedule {
    white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    section {
        padding: 1rem 0;
    }

    iframe {
        width: 100%;
    }
}
